@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(241, 241, 241, 1);

  color: rgba(241, 241, 241, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.e-e-header.is-open .e-e-header-background {
  left: 0;
}
.e-e-header-button-wrapper {
  margin-left: auto;
}
.e-e-header-icon {
  display: none;
}

.e-e-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.e-e-navigation-list.is-open {
  right: 0;
}
.e-e-header-icon-menu {
  display: block;
}

.e-e-header-icon-button.is-open .e-e-header-icon-menu {
  display: none;
}

.e-e-header-icon-button.is-open .e-e-header-icon-close {
  display: block;
}

.e-e-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 60px;
  background: rgba(125, 149, 150, 1);

  border-bottom: 2px solid rgba(241, 241, 241, 1);
}

.e-e-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  background: rgba(125, 149, 150, 1);

  border-bottom: 2px solid rgba(241, 241, 241, 1);
}
.e-e-header.is-open .e-e-header-background {
  left: 0;
}
.e-e-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.e-e-header-icon-menu {
  display: block;
}

.e-e-header-icon-button.is-open .e-e-header-icon-menu {
  display: none;
}

.e-e-header-icon-button.is-open .e-e-header-icon-close {
  display: block;
}

.e-e-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  position: relative;
}

.e-e-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 740px;
  transition: 0.3s;
  z-index: 999;
  padding: 60px;
  gap: 40px;
  background: rgba(214, 225, 230, 0.65);
  backdrop-filter: blur(88px);
}

.e-e-navigation-list.is-open {
  right: 0;
}

.e-e-navigation-link {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 16px;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(8, 10, 10, 1);
}

.e-e-navigation-link:hover,
.e-e-navigatioт-link:focus {
  color: rgba(241, 241, 241, 1);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.45);
}

.e-e-header.is-open {
  background-color: transparent;
}

.e-e-navigation-img {
  display: none;
}

@media screen and (min-width: 1196px) {
  .e-e-navigation-img {
    display: flex;
    font-family: Montserrat;
    font-weight: 900;
    font-size: 32px;
    text-decoration: none;
    color: rgba(241, 241, 241, 1);
    margin-right: 400px;
  }
  .e-e-header-button-wrapper {
    display: none;
  }
  .e-e-policy-terms-header-icon-menu {
    display: none;
  }

  .e-e-header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    border: 1px solid rgba(241, 241, 241, 1);
    padding-left: 80px;
    border-radius: 22px;
  }

  .e-e-header-background {
  }
  .e-e-header-icon-button {
    display: none;
  }
  .e-e-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .e-e-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 60px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-left: 20px;
    justify-content: center;
  }

  .e-e-navigation-link {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 16px;
  }

  .e-e-navigation-item-desk {
    display: none;
  }
}
.e-e-home {
  margin: auto;
  background: rgba(125, 149, 150, 1);
}
.e-e-home-container {
  width: 375px;
  height: 950px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/1.png");
  padding: 80px 20px 0px;
  margin: auto;
}

.e-e-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.e-e-home-title {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0%;
}

.e-e-home-text {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;

  padding: 12px 0 0;
}

@media screen and (min-width: 1196px) {
  .e-e-home-container {
    width: 1440px;
    height: 800px;
    background-image: url("/img/11.png");
    padding: 477px 80px 0px;
  }
  .e-e-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .e-e-home-title {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 0%;
  }

  .e-e-home-text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    padding-top: 35px;
  }
  .e-e-home-text-two {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    text-align: left;
  }
}
.e-e-why {
  background: rgba(125, 149, 150, 1);
}
.e-e-why-container {
  background: rgba(125, 149, 150, 1);
  width: 375px;
  margin: auto;
  padding: 90px 20px 28px;
}
.e-e-why-title {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  color: rgba(241, 241, 241, 1);
  text-align: center;
  padding-top: 20px;
}
.e-e-why-list {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.e-e-why-item {
  background: rgba(241, 241, 241, 1);
  gap: 8px;
  border-radius: 8px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 1);
}

.e-e-why-text-bold {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
}
.e-e-why-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
}

@media screen and (min-width: 1196px) {
  .e-e-why-container {
    width: 1440px;
    padding: 163px 80px 61px;
  }

  .e-e-why-title {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    color: rgba(241, 241, 241, 1);
    text-align: center;
    padding-top: 40px;
    width: 700px;
    margin: auto;
  }
  .e-e-why-list {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  .e-e-why-item {
    width: 750.857177734375px;
    border-radius: 8px;
    padding: 18px;
    flex-direction: row;
    align-items: center;
  }
  .e-e-why-item-two {
    width: 786.2857055664062px;
    margin-left: auto;
  }
  .e-e-why-text-bold {
    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    white-space: nowrap;
  }
  .e-e-why-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
  }
}

.e-e-uniqueness {
  margin: auto;
  background: rgba(125, 149, 150, 1);
}
.e-e-uniqueness-container {
  margin: auto;
  width: 375px;
  height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/uniqueness/5.png");

  padding: 30px 20px 0;
}

.e-e-uniqueness-list {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.e-e-uniqueness-item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
}
.e-e-uniqueness-item-img {
  width: 19.264461517333984px;
  height: 37.512664794921875px;
}
@media screen and (min-width: 1196px) {
  .e-e-uniqueness-container {
    margin: auto;
    width: 1440px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/uniqueness/55.png");

    padding: 50px 80px 0;
  }

  .e-e-uniqueness-list {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  .e-e-uniqueness-item {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
  }
}
.e-e-about {
  margin: auto;
}
.e-e-about-container {
  width: 375px;
  height: 1558px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/2.png");
  padding: 30px 20px 0px;
  margin: auto;
}
.e-e-about-title {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 28px;
  text-transform: capitalize;
  color: rgba(8, 10, 10, 1);
}

.e-e-about-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  color: rgba(8, 10, 10, 1);
  gap: 20px;
}

@media screen and (min-width: 1196px) {
  .e-e-about-container {
    width: 1440px;
    padding: 50px 788px 0 78px;
    width: 1440px;
    height: 600px;
    background-image: url("/img/22.png");
  }
  .e-e-about-title {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 38px;
    text-transform: capitalize;
  }

  .e-e-about-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;

    padding-top: 40px;
    display: flex;
    flex-direction: column;
    color: rgba(8, 10, 10, 1);
    gap: 20px;
  }
}
.e-e-about-one {
  margin: auto;
  background: rgba(125, 149, 150, 1);
}
.e-e-about-container-one {
  width: 375px;
  height: 1076px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/3.png");
  padding: 30px 20px 0px;
  margin: auto;
}

.e-e-about-one-text {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  gap: 16px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
}
@media screen and (min-width: 1196px) {
  .e-e-about-container-one {
    width: 1440px;
    height: 600px;
    padding: 134px 80px 0 660px;
    background-image: url("/img/33.png");
  }
  .e-e-about-one-text {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    gap: 16px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
  }
}

.e-e-about-container-two {
  width: 375px;
  height: 734px;
  padding: 30px 20px 0px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/4.png");
}

.e-e-about-text-two {
  color: rgba(8, 10, 10, 1);
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 20px;
}

@media screen and (min-width: 1196px) {
  .e-e-about-container-two {
    width: 1440px;
    height: 600px;
    padding: 50px 80px 0px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/44.png");
  }

  .e-e-about-text-two {
    color: rgba(8, 10, 10, 1);
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 40px;
  }
}
.e-e-characters-container {
  padding: 30px 20px;
  margin: auto;
  width: 375px;
}

.e-e-characters-text-bold {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  color: rgba(8, 10, 10, 1);
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 20px;
}
.e-e-characters-list {
  padding-top: 28px;
}
.e-e-characters-item {
  margin: 0 6px;
}
@media screen and (min-width: 1196px) {
  .e-e-characters-container {
    width: 1440px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img//characters/66.png");
    padding: 41px 90px;
  }
  .e-e-characters-text-bold {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    color: rgba(8, 10, 10, 1);
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 40px;
    width: 919px;
  }
  .e-e-characters-list {
    display: none;
  }
}

.e-e-reviews {
  margin: auto;
  width: 375px;
  height: 751px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/7.png");
}
.e-e-reviews-container {
  margin: auto;
  padding: 30px 20px 0;
  width: 375px;
}
.e-e-reviews-list {
  padding-top: 28px;
  display: flex;
  flex-direction: column;
}

.e-e-reviews-item {
  border-radius: 22px;
  padding: 16px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  background: rgba(125, 149, 150, 1);
}
.e-e-reviews-itemq {
  margin-top: 140px;
}
.e-e-reviews-itemw {
  margin-top: 114px;
}
@media screen and (min-width: 1196px) {
  .e-e-reviews {
    margin: auto;
    width: 1440px;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-image: url("/img/77.png");
  }
  .e-e-reviews-container {
    margin: auto;
    padding: 62px 80px 0;
    width: 1440px;
  }
  .e-e-reviews-list {
    padding-top: 46px;
    display: flex;
    flex-direction: column;
  }

  .e-e-reviews-item {
    width: 585px;
    height: 89px;
    border-radius: 22px;
    padding: 16px;
  }
  .e-e-reviews-itemq {
    margin-top: 44px;
    margin-left: auto;
    width: 562px;
    height: 89px;
  }
  .e-e-reviews-itemw {
    margin-top: 88px;
    width: 655px;
    height: 70px;
  }
}
.e-e-faq {
  background: rgba(125, 149, 150, 1);
}
.e-e-faq-container {
  padding: 76px 20px 0;
  width: 375px;
  height: 1112px;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/8.png");
}

.e-e-faq-list {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  gap: 10px;
}

@media screen and (min-width: 1196px) {
  .e-e-faq-container {
    padding: 184px 80px 0;
    width: 1440px;
    height: 800px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-image: url("/img/88.png");
  }

  .e-e-faq-list {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    gap: 12px;
    width: 786px;
  }
}

.e-e-gallery-container {
  width: 375px;
  margin: auto;
  padding: 30px 20px 53px;
}

.e-e-gallery-title {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 20px;
}
.e-e-gallery-title-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;

  color: rgba(8, 10, 10, 1);
}
.e-e-gallery-list {
  padding: 28px 0 0;
}
.e-e-gallery-item {
  width: 335px;
  height: 568px;
  overflow: hidden;
  position: relative;
  margin: 0 10px;
}
.e-e-gallery-image {
  width: 335px;
}
.e-e-gallery-image-two {
  margin-top: 147px;
}
.e-e-gallery-item-text {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  height: 38px;
  margin: 12px 12px 0;
  color: rgba(8, 10, 10, 1);
}
.e-e-gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.e-e-gallery-button-icon {
  width: 48px;
  height: 48px;
}
.e-e-gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.e-e-gallery-button:hover {
  scale: 120%;
}
@media screen and (min-width: 1196px) {
  .e-e-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 50px 80px 41px;
  }

  .e-e-gallery-title {
    display: flex;
    flex-direction: row;
    gap: 178px;
    padding-top: 40px;
  }
  .e-e-gallery-title-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;

    color: rgba(8, 10, 10, 1);
  }
  .e-e-gallery-list {
    padding: 40px 0 0;
  }
  .e-e-gallery-item {
    width: 360px;
    height: 568px;
    overflow: hidden;
    position: relative;
    margin: 0 9px;
  }
  .e-e-gallery-image {
    width: 360px;
  }
  .e-e-gallery-image-two {
    margin-top: 158px;
  }
  .e-e-gallery-item-text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    height: 38px;
    margin: 12px 12px 0;
    color: rgba(8, 10, 10, 1);
  }
  .e-e-gallery-button-container {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 16px;
  }
  .e-e-gallery-button-icon {
    width: 48px;
    height: 48px;
  }
  .e-e-gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }

  .e-e-gallery-button:hover {
    scale: 120%;
  }
}
.e-e-how-container {
  margin: auto;
  width: 375px;
  padding: 30px 20px;
  background: rgba(125, 149, 150, 1);
}
.e-e-how-text-bold {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  padding-top: 20px;
}

.e-e-how-list {
  padding: 0 0 22px;
}

.e-e-how-item {
  width: 300px;
  height: 450px;
  margin: 13px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.e-e-how-img {
  margin: auto 0 0;
}
.e-e-how-text {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  height: 57px;
  margin: 12px 12px 0;
}
.e-e-how-text span {
  font-weight: 700;
}
.e-e-how-text-q {
  padding-top: 28px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
}

@media screen and (min-width: 1196px) {
  .e-e-how-container {
    margin: auto;
    width: 1440px;
    padding: 50px 80px;
  }
  .e-e-how-text-bold {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;

    padding-top: 40px;
    width: 990px;
  }

  .e-e-how-list {
    padding: 0 0px;
  }

  .e-e-how-item {
    width: 300px;
    height: 450px;
    margin: 13px;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .e-e-how-img {
    margin: auto 0 0;
  }
  .e-e-how-text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    height: 57px;
    margin: 12px 12px 0;
  }
  .e-e-how-text span {
    font-weight: 700;
  }
  .e-e-how-text-q {
    padding-top: 50px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
  }
  .e-e-how-button {
    display: none;
  }
}

.e-e-gallery-container-two {
  width: 375px;
  margin: auto;
  padding: 30px 20px 33px;
}

.e-e-gallery-title-two {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding-top: 20px;
}
.e-e-gallery-title-text-two {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  text-align: center;

  color: rgba(8, 10, 10, 1);
}
.e-e-gallery-list-two {
  padding-top: 28px;
}
.e-e-gallery-item-two {
  width: 335px;
  height: 441px;
  margin: 0 9px;
  color: rgba(0, 0, 0, 1);
}
.e-e-gallery-image-two-two {
  width: 335px;
  height: 360px;
  border-radius: 22px;
}
.e-e-gallery-item-text-two {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  padding: 12px 12px 8px;
}
.e-e-gallery-item-text-two-two {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  padding: 0 12px;
  text-align: center;
}
@media screen and (min-width: 1196px) {
  .e-e-gallery-container-two {
    width: 1440px;
    margin: auto;
    padding: 50px 80px 41px;
  }
  .e-e-gallery-title-two {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 40px;
  }
  .e-e-gallery-title-text-two {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    text-align: center;

    color: rgba(8, 10, 10, 1);
  }
  .e-e-gallery-list-two {
    padding-top: 40px;
  }
  .e-e-gallery-item-two {
    width: 360px;
    height: 441px;

    margin: 0 9px;
    color: rgba(0, 0, 0, 1);
  }
  .e-e-gallery-image-two-two {
    width: 360px;
    height: 360px;
    border-radius: 22px;
  }
  .e-e-gallery-item-text-two {
    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    padding: 12px 12px 8px;
  }
  .e-e-gallery-item-text-two-two {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    padding: 0 12px;
    text-align: center;
  }
}
.e-e-features {
  margin: auto;
  background: rgba(125, 149, 150, 1);
}

.e-e-features-container {
  width: 375px;
  height: 1342px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/9.png");
  margin: auto;
  padding: 90px 20px 0;
}
.e-e-features-div {
  padding-top: 20px;
}
.e-e-features-text-bold {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.e-e-features-text-bold span {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.e-e-features-text-bolds {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(245, 245, 245, 1);
  text-decoration: none;
}
.e-e-features-text {
  padding-top: 20px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.e-e-features-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 36px;
}
.e-e-features-input {
  background: rgba(245, 245, 245, 1);
  border: none;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  border-radius: 8px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 0.6);
}
.e-e-features-textarea {
  height: 126px;
}
.e-e-features-button {
  border: 2px solid rgba(245, 245, 245, 1);
  background: rgba(65, 80, 80, 1);
  width: 335px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  border-radius: 12px;
  font-family: Montserrat;
  font-weight: 900;
  font-size: 15px;
  leading-trim: Cap height;
  line-height: 16px;
  letter-spacing: -5%;
  text-align: justify;
  text-transform: uppercase;
  color: rgba(241, 241, 241, 1);
  text-align: center;
}
@media screen and (min-width: 1196px) {
  .e-e-features-container {
    width: 1440px;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/99.png");
    margin: auto;
    padding: 163px 701px 0 201px;
  }
  .e-e-features-div {
    padding-top: 34px;
  }

  .e-e-features-input {
    background: rgba(245, 245, 245, 1);
    border: none;
    padding-top: 16px;
    padding-right: 24px;
    padding-bottom: 16px;
    padding-left: 24px;
    border-radius: 8px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 0.6);
  }
  .e-e-features-textarea {
    height: 126px;
  }
  .e-e-features-button {
    width: 538px;
    height: 47;
    border-radius: 12px;
    border-width: 2px;
  }
}

.e-e-gallery-container-three {
  width: 375px;
  margin: auto;
  padding: 30px 20px 32px;
}

.e-e-gallery-title-three {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 28px;
}
.e-e-gallery-title-text-three {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;

  color: rgba(8, 10, 10, 1);
}
.e-e-gallery-list-three {
  padding-top: 28px;
}
.e-e-gallery-item-three {
  width: 335px;
  height: 479px;
  margin: 0 9px;
  color: rgba(0, 0, 0, 1);
}
.e-e-gallery-image-three-three {
  width: 335px;
  height: 360px;
  border-radius: 22px;
}
.e-e-gallery-item-text-three {
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  padding: 12px 12px 8px;
}
.e-e-gallery-item-text-three-three {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  padding: 0 12px;
  text-align: center;
}
.e-e-gallery-text-three {
  padding-top: 22px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 22px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
}
@media screen and (min-width: 1196px) {
  .e-e-gallery-container-three {
    width: 1440px;
    margin: auto;
    padding: 50px 80px 40px;
  }

  .e-e-gallery-title-three {
    display: flex;
    flex-direction: row;
    gap: 200px;
    padding-bottom: 49px;
  }
  .e-e-gallery-title-text-three {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    width: 745px;
    color: rgba(8, 10, 10, 1);
  }
  .e-e-gallery-list-three {
    padding-top: 28px;
  }
  .e-e-gallery-item-three {
    width: 360px;
    height: 479px;
    margin: 0 9px;
    color: rgba(0, 0, 0, 1);
  }
  .e-e-gallery-image-three-three {
    width: 369px;
    height: 360px;
    border-radius: 22px;
  }
  .e-e-gallery-item-text-three {
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding: 12px 12px 8px;
  }
  .e-e-gallery-item-text-three-three {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    padding: 0 12px;
    text-align: center;
  }
  .e-e-gallery-text-three {
    padding-top: 27px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
  }
}
.e-e-container {
  padding: 100px 20px 40px;
  width: 375px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  color: rgba(0, 0, 0, 1);
  margin: auto;
}

.e-e-container h1 {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
}

.e-e-container h2 {
  margin-top: 10px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.e-e-container h3 {
  margin-top: 10px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

.e-e-container ul {
  margin-top: 10px;
}

.e-e-container ul li {
  margin-bottom: 10px;
}
.e-e-container p {
  margin-top: 10px;
}
.e-e-container a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.e-e-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1196px) {
  .e-e-container {
    padding: 140px 86px 40px;
    width: 1440px;
    margin: auto;
  }
}
.e-e-footer {
  background: rgba(8, 10, 10, 1);
}
.e-e-footer-container {
  background: rgba(8, 10, 10, 1);

  width: 375px;
  margin: auto;
  padding: 22px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: rgba(197, 197, 197, 1);
}
.e-e-footer-container-div-t {
  font-family: Montserrat;
  font-weight: 900;
  font-size: 28px;
  text-align: center;
}
.e-e-footer-container-div-tt {
  font-family: Roboto;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}
.e-e-footer-container-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.e-e-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.e-e-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;

  text-align: center;
}

.e-e-footer-copyright {
  font-family: Roboto;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}
.e-e-footer-text-bolds {
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: rgba(197, 197, 197, 1);
}
@media screen and (min-width: 1196px) {
  .e-e-footer-container {
    width: 1440px;
    margin: auto;
    padding: 33px 157px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: rgba(197, 197, 197, 1);
  }
  .e-e-footer-container-div-t {
    font-family: Montserrat;
    font-weight: 900;
    font-size: 32px;
    text-align: center;
  }
  .e-e-footer-container-div-tt {
    font-family: Roboto;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    padding-top: 11px;
  }
  .e-e-footer-container-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 180px;
  }
  .e-e-footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
  }

  .e-e-footer-text {
    text-decoration: none;
    color: inherit;
    font-family: Roboto;
    font-weight: 300;
    font-size: 16px;

    text-align: center;
  }

  .e-e-footer-copyright {
    font-family: Roboto;
    font-weight: 600;
    font-size: 16px;
    padding-top: 26px;
    text-align: center;
  }
  .e-e-footer-text-bolds {
    font-family: Roboto;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: rgba(197, 197, 197, 1);
  }
}

.e-e-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 30px;
  border-radius: 37px;
  border: 1px solid rgba(192, 192, 192, 1);
  box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);
  background: rgba(255, 255, 255, 1);

  z-index: 1000;
  display: none;
}

.e-e-cookie-popup-text-two {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  color: rgba(8, 10, 10, 1);
}

.e-e-cookie-button-container {
  padding: 36px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.e-e-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid rgba(192, 192, 192, 1);
  box-shadow: 0px 4px 8px 0px rgba(74, 58, 255, 0.08);
  background: rgba(255, 255, 255, 1);
  padding-top: 18px;
  padding-right: 26px;
  padding-bottom: 18px;
  padding-left: 26px;
  border-width: 1px;
  border-radius: 56px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0%;

  color: rgba(49, 49, 49, 1);
}

#accept-cookies {
  background: rgba(8, 10, 10, 1);

  color: rgba(255, 255, 255, 1);
}

.e-e-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1196px) {
  .e-e-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .e-e-cookie-popup-text-two {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;

    width: 648px;
  }

  .e-e-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
  }
  .e-e-cookie-button {
    border: none;
    background-color: transparent;
    border: 1px solid rgba(192, 192, 192, 1);
    box-shadow: 0px 4px 8px 0px rgba(74, 58, 255, 0.08);
    background: rgba(255, 255, 255, 1);
    padding-top: 18px;
    padding-right: 26px;
    padding-bottom: 18px;
    padding-left: 26px;
    border-width: 1px;
    border-radius: 56px;

    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0px;
  }

  .e-e-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px 138px;
    display: none;
  }
}
